body {
  zoom: 150%;
}
.check {
  zoom: 150%;
}

button {
  zoom: 120%;
  border-radius: 10%;
  background-color: white;
  border-color: gray;
}

button:focus {
  outline-color: green;
}

#rotate {
  padding-left: 10px;
  animation-name: rotator; /* this can be any name you want */
  animation-duration: 1.5s;
  /* animation-iteration-count: infinite; */
  transform: rotate(0deg);
}
@keyframes rotator {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(-360deg);
  }
}